.home {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .title {
        margin-top: 100px;
        font-weight: 500;
    }

    .btn-playnow {
        margin-top: 40px;
        width: 250px;
        height: 60px;
    }

    .btn-group {
        margin-top: 40px;
    }

        .btn-room {
            margin-right: 15px;
            width: 200px;
            height: 50px;
           
        }

        .btn-rank {
            margin-left: 15px;
            width: 200px;
            height: 50px;
           
        }



@keyframes loading07 {
    0%,
    75%,
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
    25%,
    50% {
        transform: scale(1);
        opacity: 1;
    }
}